@-moz-viewport {widthL device-width; scale: 1; }
@-ms-viewport {widthL device-width; scale: 1; }
@-o-viewport {widthL device-width; scale: 1; }
@-webkit-viewport {widthL device-width; scale: 1; }
@viewport {widthL device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  margin: 0;
}

header{
  background-color: lightgrey;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
  margin: 0;
}

nav ol{
  list-style: none;
  padding: 0;
}

nav a{
  text-decoration: none;
}

.img-flex{
  width: 100%;
}

@media only screen and (min-width: 20em) {

  nav{
    text-align: center;
  }

  nav li{
    display: inline-block;
  }
}

@media only screen and (min-width: 38em) {

  nav{
      text-align: left;
  }

}
