@-moz-viewport {widthL device-width; scale: 1; }
@-ms-viewport {widthL device-width; scale: 1; }
@-o-viewport {widthL device-width; scale: 1; }
@-webkit-viewport {widthL device-width; scale: 1; }
@viewport {widthL device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  margin: 0;
}

header{
  background-color: #ccc;
}

nav ol{
  list-style: none;
  padding: 0em;
  margin: 0em;
}

nav a{
  text-decoration: none;
  color: #0772d0;
}

nav a:hover{
  background-color: #0772d0;
  color: #fff;
}

.img-flex{
  width: 100%;
}

.banner{
  background-color: #e2e2e2;
  padding: 1em 1.5em 0em 1.5em;
}

@media only screen and (min-width: 20em) {

  nav{
    text-align: center;
  }

  nav li{
    display: inline-block;
  }
}

@media only screen and (min-width: 38em) {

  nav{
      text-align: left;
  }

  nav ol{
    margin-top: 2em;
  }

  .moons{
    margin-top: 1em;
  }

  .moons-h3{
    text-align: left;
    margin-top: .75em;
  }

  .words{
    margin: -.2em;
  }
}
